.sidebar{
    flex: 1;
    height:calc(1000vh-50px);
    background-color:#242424 ;
    position: sticky;
    top:50px;
    height: 100%;
    width: 220px;
}

.sidebarWrapper{
    padding:10px;
    color:white;
}

.sidebarMenu{
    margin-top: 10px;
}

.sidebarTitle{
    font-size: 25px;
    color:white;
}

.sidebarList{
    list-style: none;
    padding:5px;
}

.sidebarListItem{
    padding:5px;
    cursor:pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active, 
.sidebarListItem:hover{
    background-color:#C0C0C0;
    
    
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px;
}