
.btn-grad {background-image: linear-gradient(to right, #7b4397 0%, #dc2430  51%, #7b4397  100%)}
.btn-grad {

    width:200px;
    height:40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    border-radius: 10px;


}
.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}








.btn-grad4{background-image: linear-gradient(to right, #7b4397 0%, #dc2430  51%, #7b4397  100%)}
.btn-grad4 {

    width:200px;
    height:40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    border-radius: 10px;

    position: sticky;
}

.btn-grad4:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-grad1 {background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%)}
.btn-grad1 {


    text-align: center;
    width:100px;
    height:40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    border-radius: 10px;


}

.btn-grad1:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}



.btn-grad2 {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
.btn-grad2 {
    text-align: center;
    width:100px;
    height:40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    border-radius: 10px;
}

.btn-grad2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}



.btn-grad3 {background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%)}
.btn-grad3 {
    width:200px;
    height:40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    border-radius: 10px;

    position: sticky;
}

.btn-grad3:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-grad5 {background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%)}
.btn-grad5 {


    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    border-radius: 10px;


}
.btn-grad5:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}




.btn-grads {background-image: linear-gradient(to right, #7b4397 0%, #dc2430  51%, #7b4397  100%)}
.btn-grads {
    text-align: center;
    width:100px;
    height:40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    border-radius: 10px;
}

.btn-grads:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}



tr:nth-child(even) {
    background-color: #dddddd;
}




.btn-grad8 {background-image: linear-gradient(to right, #159957 0%, #155799  51%, #159957  100%)}
.btn-grad8 {
    width:200px;
    height:40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    border-radius: 10px;

    position: sticky;
}

.btn-grad8:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

