.cartLogo__badge{
    width: 15px;
    height: 20px;
    background: darkgray;
    border-radius: 50%;
    margin-left: 8px;
    color: #171717;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}

.itemHomeScreen__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/*Adding the Item home page into responsive*/
@media(max-width:1232px){
    .itemHomeScreen__items{
        grid-template-columns: repeat(3,1fr);
    }
}

@media(max-width:950px){
    .itemHomeScreen__items{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:630px){
    .itemHomeScreen__items{
        grid-template-columns: 1fr;
    }
}